body {
  background-color: #212529;
  color: #ced4da;
  font-family: monospace;
  font-size: 130%;
  font-weight: normal;
  line-height: 1.4;
  margin: 5% 20%;
}

hr {
  border: 1px solid #6c757d;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: #6c757d;
  text-decoration: none;
}

a:hover {
  color: #495057;
}
